# Dependencies
/node_modules
/.pnp
.pnp.js

# Production builds
/dist
/build

# Testing
/coverage

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Package managers
package-lock.json
yarn.lock
.yarn-integrity

# TypeScript cache
*.tsbuildinfo

# Editor and OS specific files
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
.temp
.tmp
.cache